@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    sans-serif;
}

.leaflet-popup-content-wrapper {
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
}

.leaflet-popup-content {
  margin: 12px 14px;
}
